:root {
  --main-color: skyblue;
  --accent-color: rgb(255, 101, 74);
  --off-white-bg: rgb(255, 242, 234);
  --solid-white: white;
  --dark-grey-bg: rgb(44, 44, 44);
  --min-width: 432px;
}

body {
  background-color: var(--off-white-bg);
}

nav {
  background-color: var(--main-color);
  min-width: var(--min-width);
}

nav a {
  background-color: var(--main-color);
}

nav .user {
  font-size: 1.4rem;
  padding: 0 1rem;
  background-color: var(--accent-color);
}

nav .exit {
  height: 1.7rem;
  width: 1.7rem;
  min-height: 1.7rem;
  min-width: 1.7rem;
}

nav .menu {
  display: flex;
  gap: .3rem;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

#search {
  position: relative;
  /* right: -18rem; */
  background-color: var(--off-white-bg);
  height: 2rem;
}

nav {
  background-image: url(../src/assets/strip.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.main-container {
  display: flex;
  flex-direction: row;
  padding: 0.2rem 0.5rem;
  gap: 0.2rem;
  height: calc(100vh - 4rem);
  min-width: var(--min-width);
}

#board {
  flex: 4;
  height: 80%;
  min-height: 70%;
  padding: 0 .2rem 0 .2rem;
}

#board>div {
  height: 100%;
}

#viewer {
  flex: 1;
  background-color: var(--dark-grey-bg);
  color: var(--main-color);
  min-height: 30%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  padding: .5rem;
}

#viewer input {
  font-size: .8rem;
  display: inline-block;
  border: 2px dashed var(--main-color);
  margin: 0;
  vertical-align: middle;
  color: var(--main-color)
}

#viewer .btn-grp {
  /* position: absolute; */
  left: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#viewer .chain-list {
  flex: 5;
  padding: .5rem;
  overflow-y: scroll;
  font-size: .8rem;
}

#viewer .chain-list ul {
  list-style-type: none;
  padding-left: .5rem;
  list-style-image: none;
}

#viewer .chain-list ul li {
  margin: .7rem 0;

}

#viewer .chain-list input {
  display: inline;
  margin-right: .5rem;
}

#viewer .alert {
  border: none;
  color: var(--dark-grey-bg);
  font-size: 1rem;
  margin: .4rem 0;
  padding: .4rem;
  background-color: var(--accent-color);
}

#viewer .chain-list input[type="checkbox"] {
  height: 20px !important;
  width: 20px !important;
  accent-color: var(--main-color);
  cursor: pointer;
}

#viewer .chain-list input[type="checkbox"]:checked {
  background-color: var(--main-color);
}

#viewer .chain-list .tableName {
  /* background-color: var(--main-color); */
  color: var(--dark-grey-bg);
  padding: .2rem;
  font-weight: bold;
  border-color: var(--main-color);
  color: var(--main-color)
}

#viewer .chain-list .tableRoll {
  color: var(--accent-color);
  margin: 0 .6rem 0 .2rem;
  border-color: var(--main-color);
  padding: .1rem .2rem;
}


#viewer button {
  font-size: .9rem;
  width: 90%;
  padding: .3rem;
  font-weight: bold;
  background-color: var(--main-color);
}

.input-grp {
  position: absolute;
  display: flex;
  flex-direction: row;
}

table thead th+th {
  border-left: 1px dashed rgba(128, 128, 128, 0.337);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5rem;

}

table thead th {
  margin: none;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

table thead div {
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
}


table td:first-child {
  text-align: center;
  font-weight: bold;
}

table .roll:hover{
 color: var(--accent-color);
}

aside {
  flex: 1;
}

main {

  display: flex;
  flex-direction: column;
  flex: 4;

}


.tabs label {
  color: var(--dark-grey-bg);
  padding: .3rem;
  background-color: var(--main-color);
  z-index: 999;
}

.content {
  height: 85vh;
  margin-top: -.5rem;
  overflow-y: scroll;
}


.tablesList {
  padding: 0;
}

.tablesList li {
  width: 85%;
  margin: .5rem auto;
  text-align: center;
  background-color: var(--accent-color);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
}

.tablesList .die {
  font-weight: normal;
  text-align: right;
  border-left: 1px solid black;
  /* padding: .5rem; */
  flex: 1;
  font-size: .8rem;
}

.tablesList .name {
  flex: 4;
}

.tablesList .share,
.tablesList .trash {
 width: 20px;
}
aside{
  min-width: 300px;
}

aside .createTable {
  margin: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 2.4rem;
}

aside .createTable input,
aside .createTable select {
  display: block;
  width: 4rem;
  height: 100%;
}

aside .createTable input {
  text-align: right;
}

aside .createTable button {
  background-color: var(--main-color);
  font-weight: bold;
  font-size: .8rem;
  margin: 0;
}

aside .chain li {
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  background-color: var(--accent-color);
}

.login h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  color: var(--off-white-bg);
  font-size: 3rem;
}

.login form {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
}

.login form input {
  background-color: var(--off-white-bg);
}

.login form button {
  background-color: var(--main-color);
}

.login form .btn-grp {
  display: flex;
  justify-content: space-evenly;
}

.login form .switch {
  background-color: var(--dark-grey-bg);
  color: var(--off-white-bg)
}


.center {
  height: 91vh;
  display: flex;
  justify-content: center;
}

.encounters {
  background:
    url('../src/assets/strip-2.png') no-repeat top / 180%,
    url('../src/assets/strip-3.png') no-repeat center / 180%,
    url('../src/assets/strip-4.png') no-repeat bottom / 180%;

  animation: rolling 50s linear infinite;
}

.lost {
  background-color: var(--off-white-bg);
}

.lost h3 {
  text-align: center;
  font-size: 3.2rem;
  margin: 0;
}

.lost img {
  height: auto;
  width: 10rem;
  margin: auto;
  border: none;
}

@keyframes rolling {
  from {
    background-position: 100% top, 0% center, 100% bottom;
  }

  to {
    background-position: 0% top, 100% center, 0% bottom;
  }
}

@media screen and (max-width: 775px) {
  nav h3 {
    /* font-size: 1.4rem; */
    text-align: center;
  }

  nav .menu {
    justify-content: center;
    margin-top: 1rem;
  }

  .main-container {
    flex-direction: column;
  }

  main {
    min-height: 83vh;
  }
}